# ignore compiled object files
*.o
*.obj
*.lo

# ignore executables
*.out
*.exe
*.app

# ignore output images
output/

# ignore python testing script
PythonComparison/

# ignore zip
conde.gabriella.project2.zip